*{
    padding: 0;
    margin: 0;
}

::selection{
    background-color: var(--cor2);
    color: var(--cor3);
}

:root{
    --cor1: #140057;
    --cor1-transparent: #14005785;
    --cor2: #f1bc02;
    --cor3: #ffffff;
    --cor4: #000000;
    --cor5: #471FE0;
    
    --fonte1: 'Rowdies', sans-serif;
    --fonte2: 'Satisfy', cursive;
    --fonte3: 'Josefin Sans', sans-serif;
    --fonte4: 'Kanit', sans-serif;
}

body#abertura-de-empresa ul li.abertura-de-empresa a,
body#servicos-contabilidade ul li.servicos-contabilidade a,
body#bpo-financeiro ul li.bpo-financeiro a,
body#planos-mensais ul li.planos-mensais a,
body#recursos-do-cliente ul li.recursos-do-cliente a,
body#contato ul li.contato a,
body#agendamento ul li.agendamento a{
    background-color: #1f73e083;
    color: white;
    border-bottom: 1px solid red;
    transition-duration: 0.6s;
}

body{
    background: linear-gradient(45deg, var(--cor1), var(--cor1-transparent));
    font-family: var(--fonte3);
}

section.construcao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: center;
    height: 500px;
}

body#sinais .sinais{
    display: flex;
    background-color: var(--cor1-transparent);
    padding: 30px;
    margin: auto;
    width: 80%;
    height: 500px;
}

body#sinais .sinais h1{
    color: var(--cor2);
    font-size: 2.5em;
    padding-bottom: 35px;
    text-align: center;
    margin: auto;
    font-size: 2.8em;
    padding: 15px;
    background-color: var(--cor1-transparent);
    color: var(--cor2);
}

body#sinais p{
    color: var(--cor3);
    width: 70%;
    margin: auto;
    padding: 10px;
    font-size: 1.6em;
}

body#sinais .sinais h2{
    color: var(--cor2);
}

header{
    width: 100%;
    min-height: 10vh;
    border-bottom: 1px solid;
    background-color: var(--cor1);
    justify-self: center;
}

header div{
    padding: 15px;
    display: flex;
    justify-content: center;
}

header div h1{
    padding: 15px;
    font-family: var(--fonte4);
    font-weight: 500;
    color: var(--cor2);
    font-variant: small-caps;
    font-size: 3em;
    text-shadow: 1px 1px 5px black;
}

header>div>img{
    width: 50px;
    height: 50px;
    display: flex;
    align-self: center;
}

header nav{
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header nav ul li{
    list-style: none;
    display: flex;
    border-left: 0.1px solid rgb(204, 202, 202);
    border-right: 0.1px solid rgb(204, 202, 202);
    margin-bottom: 15px;
}

header nav ul li a{
    text-decoration: none;
    font-family: var(--fonte3);
    color: var(--cor2);
    font-size: 1.3em;
    font-weight: 300;
    padding: 10px;
}

header nav ul li a:hover{
    background-color: #1F73E0;
    color: white;
    border-bottom: 1px solid red;
    transition-duration: 0.6s;
}

main{
    display: block;
}

main div.whatsapp-click{
    border-radius: 50%;
    margin: 25px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 0;
}
main section.text-with-background{
    display: flex;
    background-image: url('imagens/mesa-contabilidade.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    box-shadow: 0px 1px 10px 0px black;
}

body#home main section.text-with-background h1{
    margin: auto;
    font-size: 2.8em;
    padding: 15px;
    background-color: var(--cor1-transparent);
    color: var(--cor2);
}

main section#about-david{
    background-color: var(--cor1);
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    justify-content: space-around;
}

main section#about-david aside div{
    flex-wrap: wrap;
    max-width: 500px;
    min-width: 40%;
    padding: 30px;
    color: var(--cor2);
}

span.text-about-david{
    color: var(--cor2);
    font-weight: bold;
}

main section#about-david img{
    border-radius: 50%;
    margin: 20px 0;
    box-shadow: 0px 0px 5px 1px white;
}

main section#about-david h1{
    display: inline-block;
    font-family: var(--fonte1);
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cor5);
    text-shadow: 0px 0px 2px var(--cor5);
}

main section#about-david p{
    color: var(--cor3);
    padding-top: 30px;
    font-size: 1.7em;
    line-height: 1.3em;
}

main section#feed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('imagens/background2.jpg');
    min-height: 500px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 10px 0px black;
}

main section#feed .caixa{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    border-radius: 10px;
    width: 200px;
    margin: 30px;
    padding: 25px;
    box-shadow: 0px 0px 5px 1px var(--cor5);
}

main section#feed .caixa h1{
    padding-bottom: 15px;
    color: var(--cor2);
    text-shadow: 1px 1px 5px var(--cor4);
}

main section#feed .caixa p{
    color: var(--cor3);
}

main section#feed .caixa a{
    color: var(--cor2);
    text-decoration: none;
}

footer{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: black;
    color: var(--cor2);
    text-align: center;
    padding: 30px 0;
    z-index: 1;
}

footer img{
    width: 30px;
    border-radius: 50%;
}

footer p{
    font-size: 0.7em;
    position: relative;
    top: 25%;
}

footer a{
    color: var(--cor3);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}